In [1]:
import pandas as pd

def clean_data(df):
    # Remove duplicate rows based on 'vibration_sensor' and 'temperature_sensor'
    df = df.drop_duplicates(subset=['vibration_sensor', 'temperature_sensor'])
    return df

# Loaded variable 'df' from URI: c:\Users\User\Desktop\EEE\fifth year\FINAL YEAR PROJECT\test\converted_data.csv
df = pd.read_csv(r'c:\Users\User\Desktop\EEE\fifth year\FINAL YEAR PROJECT\test\converted_data.csv')

df_clean = clean_data(df.copy())
df_clean.head()

    vibration_sensor  temperature_sensor  label
0                675                 593      1
4                675                 450      1
8                675                 266      0
9                675                 246      0
13               450                 246      0